Web References/localhost1/schema1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://SoftIDTx/Services/" elementFormDefault="qualified" targetNamespace="http://SoftIDTx/Services/" id="schema1" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="ReadAllPatient">
    <xs:complexType />
  </xs:element>
  <xs:element name="ReadAllPatientResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" name="AllPatientResponse" type="tns:Patient" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="Patient">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="FirstName" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="SecondName" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="MRN" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="DOB" type="xs:dateTime" />
      <xs:element minOccurs="0" maxOccurs="1" name="Sex" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="Email" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ReadPatientDataByMrn">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="PatientMrn" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReadPatientDataByMrnResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="PatientData" type="tns:Patient" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreatePatient">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="Patient" type="tns:Patient" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreatePatientResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="1" name="outCreatePatient" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdatePatient">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="MRN" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="FirstName" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="SecondName" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="DOB" type="xs:dateTime" />
        <xs:element minOccurs="0" maxOccurs="1" name="Sex" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="Email" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdatePatientResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="1" name="outUpdatePatient" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeletePatient">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="MRN" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeletePatientResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="1" name="outDeletePatient" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReadAllOrder">
    <xs:complexType />
  </xs:element>
  <xs:element name="ReadAllOrderResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" name="OrderData" type="tns:Order" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="Order">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="OrderNumber" type="xs:int" />
      <xs:element minOccurs="1" maxOccurs="1" name="StartDate" type="xs:dateTime" />
      <xs:element minOccurs="1" maxOccurs="1" name="EndDate" type="xs:dateTime" />
      <xs:element minOccurs="0" maxOccurs="1" name="patientMRN" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ReadOrder">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="PatientMrn" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReadOrderResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" name="OrderData" type="tns:Order" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReadAllTest">
    <xs:complexType />
  </xs:element>
  <xs:element name="ReadAllTestResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" name="Test" type="tns:Test" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="Test">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="TitleId" type="xs:int" />
      <xs:element minOccurs="0" maxOccurs="1" name="Type" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="TestId" type="xs:int" />
      <xs:element minOccurs="0" maxOccurs="1" name="SpecimenCode" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="Priority" type="xs:int" />
      <xs:element minOccurs="1" maxOccurs="1" name="isSelected" type="xs:boolean" />
      <xs:element minOccurs="1" maxOccurs="1" name="OrderNumber" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ReadTest">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="1" name="OrderNumber" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReadTestResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" name="TestData" type="tns:Test" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateTest">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="Test" type="tns:Test" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateTestResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="1" name="outCreateTest" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteTest">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="1" name="TestId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteTestResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="1" name="outDeleteTest" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateOrder">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="Order" type="tns:Order" />
        <xs:element minOccurs="0" maxOccurs="1" name="PatientMrn" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateOrderResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="1" name="outCreateOrder" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckPatient">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="Patient" type="tns:Patient" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckPatientResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="1" name="outCheckPatient" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReadPatientDataByOrder">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="OrderData" type="tns:Order" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReadPatientDataByOrderResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="PatientData" type="tns:Patient" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteOrder">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="Order" type="tns:Order" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteOrderResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="1" name="outDeleteOrder" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ClearTest">
    <xs:complexType />
  </xs:element>
  <xs:element name="ClearTestResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="1" name="outClearTest" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateAllTest">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" name="TestList" type="tns:Test" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateAllTestResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="1" name="outUpdateTest" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReadAllTitle">
    <xs:complexType />
  </xs:element>
  <xs:element name="ReadAllTitleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" name="AllTitle" type="tns:Title" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="Title">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="TitleId" type="xs:int" />
      <xs:element minOccurs="0" maxOccurs="1" name="Title" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetTitle">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="1" name="TitleId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTitleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="Title" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTitleId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="Title" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTitleIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="1" name="TitleId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLastIndex">
    <xs:complexType />
  </xs:element>
  <xs:element name="GetLastIndexResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="1" name="LastIndex" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReadOrderByOrderNumber">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="1" name="OrderNumber" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReadOrderByOrderNumberResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" name="OrderData" type="tns:Order" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>