Web References/localhost/schema1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://SoftIDTx/Services/" elementFormDefault="qualified" targetNamespace="http://SoftIDTx/Services/" id="schema1" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="ReadPatientData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="mrnStr" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReadPatientDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="patientData" type="tns:Patient" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="Patient">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="FirstName" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="SecondName" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="MRN" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="DOB" type="xs:dateTime" />
      <xs:element minOccurs="0" maxOccurs="1" name="Sex" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="Email" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="OrderNumber" type="tns:Order" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Order">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="OrderNumber" type="xs:int" />
      <xs:element minOccurs="1" maxOccurs="1" name="StartDate" type="xs:dateTime" />
      <xs:element minOccurs="1" maxOccurs="1" name="EndDate" type="xs:dateTime" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Tests" type="tns:Test" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Test">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="Type" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="TestId" type="xs:int" />
      <xs:element minOccurs="0" maxOccurs="1" name="SpecimenCode" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SavePatient">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="patientData" type="tns:Patient" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SavePatientResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="1" name="out" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReadOrderInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="NumberStr" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReadOrderInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="OrderInfo" type="tns:Order" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveOrder">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="OrderInfo" type="tns:Order" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveOrderResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="1" name="out" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReadTestInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="NumberStr" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReadTestInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="TestInfo" type="tns:Test" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveTest">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="TestInfo" type="tns:Test" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveTestResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="1" name="out" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>